<div class="wqdView wqdHeaderView">
            <style type="text/css" id="styleCss" uw="1200">.wqdView, .wqdAreaView .wqdSectiondiv {
                min-width: 1200px;
            }

            .wqdAreaView .wqdBkEditos, .hoverCon-section .wqdBkEditos {
                width: 1200px;
            }

            .fullscreen .bannerContainer {
                margin: 0 auto;
                width: 1200px !important;
            }</style>
            <div class="wqdAreaView"></div>
        </div><div class="wqdView wqdCenterView"><div class="wqdAreaView">

                <div class="yzmoveContent">
                    <div class="wqdSectiondiv" data-type="wqdSectiondiv" sortid="2" partid="wqd1469623429654serial" commonpartid="10542" id="wqd1469623429654serial" sectionname="banner" partcategoryid="2" style="background-attachment: scroll; background-size: cover; background-position: center center; background-repeat: no-repeat;">
                        <style type="text/css" class="wqd1469623429654serial">#wqd1469623429654serial:before {
                            content: ' ';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: #ce231c;
                        }</style>
                        <section class="wqd1445504393013css wqdBkEditos sectionV2 moveMainArea elementsContainer" style="height: 348px; margin: 0px auto; position: relative;" wqdimgurlos="http://127.0.0.1:8360/static/upload/group/01/yq0KYVcy8GqAcOg6ABmFTHAj6MY000.png" wqdbgcoloros="#eee" data-maxzindex="1" sectionwidth="1200" wqdheight="348" bac_position="5" wqdbgattachment="0" wqdwidthlimit="0" wqdbgcolor="#ce231c" >
                            <div class="wqdelementEdit" data-elementtype="img" data-elemandgroup="true" style="width: 1201px; height: 348px; left: 1px; top: 0px; z-index: 1;" elementid="elementId1469623429656" id="elementId1469623429656" data-zindex="1">
                                <div class="wqdelementEditBox"><img class="wqd-img" src="http://127.0.0.1:8360/static/upload/group/01/yq0KYVcy8GqAcOg6ABmFTHAj6MY000.png" ondragstart="return false;"></div>
                            </div>
                        </section>
                    </div>
                    
                </div>
                <div class="yzmoveContent sectionCenter  ">
                    <div class="wqdSectiondiv" id="wqd1469626075759serial" style="background-attachment: scroll; background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;" partid="wqd1469626075759serial" wqdbgset="0" wqdback_position="1" partcategoryid="2" sectionname="横幅广告11" commonpartid="10542" sortid="1" data-type="wqdSectiondiv">
                        <style type="text/css" class="elementId1469665967266">#elementId1469665967266 .wqd-line {
                            border-top-color: #E52E04 !important;
                        }</style>
                        <style type="text/css" class="elementid14696262056510">#elementid14696262056510 a em {
                            color: #E52E04;
                        }

                        #elementid14696262056510 a {
                            border-color: #E52E04;
                        }

                        #elementid14696262056510 .on:hover em {
                            color: #fff;
                        }

                        #elementid14696262056510 .on:hover {
                            background-color: #E52E04;
                            border-color: #E52E04;
                        }</style>
                        <style class="wqd1469626075759serial" type="text/css">#wqd1469626075759serial:before {
                            content: ' ';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(34, 85, 85, 0);
                        }</style>
                        <style type="text/css" class="elementid14696263740720">#elementid14696263740720 a em {
                            color: #E52E04;
                        }

                        #elementid14696263740720 a {
                            border-color: #E52E04;
                        }

                        #elementid14696263740720 .on:hover em {
                            color: #fff;
                        }

                        #elementid14696263740720 .on:hover {
                            background-color: #E52E04;
                            border-color: #E52E04;
                        }</style>
                        <style type="text/css" class="elementid14696263745470">#elementid14696263745470 a em {
                            color: #E52E04;
                        }

                        #elementid14696263745470 a {
                            border-color: #E52E04;
                        }

                        #elementid14696263745470 .on:hover em {
                            color: #fff;
                        }

                        #elementid14696263745470 .on:hover {
                            background-color: #E52E04;
                            border-color: #E52E04;
                        }</style>
                        <style type="text/css" class="elementid14696263749310">#elementid14696263749310 a em {
                            color: #E52E04;
                        }

                        #elementid14696263749310 a {
                            border-color: #E52E04;
                        }

                        #elementid14696263749310 .on:hover em {
                            color: #fff;
                        }

                        #elementid14696263749310 .on:hover {
                            background-color: #E52E04;
                            border-color: #E52E04;
                        }</style>
                        <section class="wqd1445504393013css wqdBkEditos sectionV2 moveMainArea elementsContainer" style="height: 1120px; margin: 0px auto; position: relative;" sectionwidth="1200" wqdbgcolor="rgba(34,85,85,0)" wqdwidthlimit="0" wqdbgattachment="0" bac_position="5" wqdheight="1120" data-maxzindex="6" wqdbgcoloros="#eee" wqdimgurlos="http://img.wqdian.com/group1/M00/26/AC/yq0KXFZgdBGAE4FaAAC7YUX_gSI036.jpg" >
                            <div class="wqdelementEdit wqdGroup elementsContainer" data-groupstatus="off" data-elemandgroup="true" groupid="groupId1469665819993" id="groupId1469665819993" data-zindex="1" data-maxzindex="0" style="height: 219px; width: 200px; left: 0.5px; top: 29px; z-index: 1;">
                                <div class="wqdelementEditBox">
                                    <div class="wqdelementEdit" data-elementtype="button" data-elemandgroup="true" elementid="elementid14696263749310" id="elementid14696263749310" data-zindex="4" style="width: 200px; height: 45px; left: 0px; top: 174px; z-index: 4;" wqdhref="0" wqdheight="45" wqdborderradius="5" wqdcolor="#E52E04" wqdbgcolor="rgb(255, 255, 255)" wqdbordercolor="#E52E04" wqdon="true" hovercol="#fff" hoverbaccol="#E52E04" hoverborcol="#E52E04">
                                        <div class="wqdelementEditBox"><a class="wqd-button wqdComponentBtn2 on" wqdbtnborder="false" ondragstart="return false;" style="font-size: 22px;"> <em>奖项设置</em> </a>
                                        </div>
                                    </div>
                                    <div class="wqdelementEdit" data-elementtype="button" data-elemandgroup="true" elementid="elementid14696263745470" id="elementid14696263745470" data-zindex="3" style="width: 200px; height: 45px; left: 0px; top: 116px; z-index: 3;" wqdhref="0" wqdheight="45" wqdborderradius="5" wqdcolor="#E52E04" wqdbgcolor="rgb(255, 255, 255)" wqdbordercolor="#E52E04" wqdon="true" hovercol="#fff" hoverbaccol="#E52E04" hoverborcol="#E52E04">
                                        <div class="wqdelementEditBox"><a class="wqd-button wqdComponentBtn2 on" wqdbtnborder="false" ondragstart="return false;" style="font-size: 22px;"> <em>交易规则</em> </a>
                                        </div>
                                    </div>
                                    <div class="wqdelementEdit" data-elementtype="button" data-elemandgroup="true" elementid="elementid14696262056510" id="elementid14696262056510" data-zindex="1" style="width: 200px; height: 45px; left: 0px; top: 58px; z-index: 1;" wqdhref="2" wqdheight="45" wqdborderradius="5" wqdcolor="#E52E04" wqdbgcolor="rgb(255, 255, 255)" wqdbordercolor="#E52E04" wqdon="true" hovercol="#fff" hoverbaccol="#E52E04" hoverborcol="#E52E04" targetnew="ture" wqdpage0="0">
                                        <div class="wqdelementEditBox"><a class="wqd-button wqdComponentBtn2 on" wqdbtnborder="false" ondragstart="return false;" style="font-size: 22px;" href="/home.html" target="_blank"> <em>比赛规则</em> </a>
                                        </div>
                                    </div>
                                    <div class="wqdelementEdit" data-elementtype="button" data-elemandgroup="true" elementid="elementid14696263740720" id="elementid14696263740720" data-zindex="2" style="width: 200px; height: 45px; left: 0px; top: 0px; z-index: 2;" wqdhref="0" wqdheight="45" wqdborderradius="5" wqdcolor="#E52E04" wqdbgcolor="rgb(255, 255, 255)" wqdbordercolor="#E52E04" wqdon="true" hovercol="#fff" hoverbaccol="#E52E04" hoverborcol="#E52E04" wqdpage0="1">
                                        <div class="wqdelementEditBox"><a class="wqd-button wqdComponentBtn2 on" wqdbtnborder="false" ondragstart="return false;" style="font-size: 22px;"> <em>大赛简介</em> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wqdelementEdit" data-elementtype="line" data-elemandgroup="true" elementid="elementId1469665967266" id="elementId1469665967266" data-zindex="2" style="width: 965px; height: 2px; left: 234.5px; top: 78px; z-index: 2;" wqdhref="0" wqdpath_width="2" wqdpathfill="#E52E04">
                                <div class="wqdelementEditBox">
                                    <div class="wqd-line" style="height: 0px; border-width: 2px; border-top-style: solid; border-top-color: rgb(61, 155, 233); position: relative;"></div>
                                </div>
                            </div>
                            <div class="wqdelementEdit wqdselected" data-elementtype="text" data-elemandgroup="true" elementid="elementId1469666034874" id="elementId1469666034874" data-zindex="3" style="width: 129px; height: 49px; left: 569.5px; top: 29px; z-index: 3;">
                                <div class="wqdelementEditBox" data-emptytexttemplate="title3" style="visibility: visible;"><h3 class="wqd-text-title3"><span style="color:#E52E04;">大赛简介</span></h3>
                                </div>
                            </div>
                            <div class="wqdelementEdit" data-elementtype="text" data-elemandgroup="true" elementid="elementId1469666618090" id="elementId1469666618090" data-zindex="4" style="width: 968px; height: 288px; left: 234.5px; top: 93.5px; z-index: 4;"> <div class="wqdelementEditBox" data-emptytexttemplate="article1" style="visibility: visible;"><p class="wqd-text-article1"><span style="font-size:16px;">本次大赛为东方财富网主办，东方财富证券协办的大型实盘炒股比赛。旨在为全国投资者，提供一个发现实战高手、提升投资水平的平台。大赛历时3个月，8月1日-9月30日为选拔阶段，10月1日-10月31日为正式比赛阶段（待定）：<br>
（1）选拔阶段，随时可报名。选拔期结束时，根据总收益率排名和收益额，依次给选手分配比赛资产，赚的越多分的越多。<br>
（2）比赛阶段，晋级选手通过操作自己的实盘账户，实现其比赛资产账户的增值。比赛结束时，根据选手比赛资产的正收益部分，发放相应的奖金，赚的越多发的越多。</span><br>
                                <br>
                                <span style="font-size:18px;"><span style="color:#E52E04;">注：什么是“比赛资产”？</span></span><br>
                                <span style="font-size:16px;">比赛资产，是本次大赛主办方发放给选手的比赛资金，存放在每个晋级选手附属的比赛资产账户中。比赛资产总计1个亿，分完即止。</span></p>
                            </div> </div><div class="wqdelementEdit" data-elementtype="img" data-elemandgroup="true" style="width: 661px; height: 349px; left: 386.5px; top: 384px; z-index: 5;" elementid="elementId1469667127221" id="elementId1469667127221" data-zindex="5"> <div class="wqdelementEditBox"> <img class="wqd-img" src="http://127.0.0.1:8360/static/upload/group/01/16dx4t1xxg.jpg" ondragstart="return false;"> </div> </div><div class="wqdelementEdit" data-elementtype="text" data-elemandgroup="true" elementid="elementid14696672733220" id="elementid14696672733220" data-zindex="6" style="width: 968px; height: 343px; left: 232.5px; top: 755px; z-index: 6;"> <div class="wqdelementEditBox" data-emptytexttemplate="article1" style="visibility: visible;"><p class="wqd-text-article1"><span style="color:#e52e04;"><span style="font-size:18px;">主办方：东方财富网（股票代码：东方财富 300059）</span></span><br>
                            <span style="font-size:16px;">东方财富网－－中国访问量最大、影响力最大的财经门户。东方财富网通过网站平台和各专业频道提供专业的、及时的、海量的资讯信息，满足广大互联网用户对财经资讯和金融信息的需求，同时提供财经互动社区平台，满足用户互动交流和体验分享需求。东方财富网，致力于打造中国最大的互联网财经信息平台，打造中国互联网财经第一门户，打造强大的互联网民族品牌，为用户提供全方位财经信息综合服务解决方案，满足用户的需求和体验。</span><br>
                            <br>
                            <span style="color:#e52e04;"><span style="font-size:18px;">协办方：东方财富证券</span></span><br>
                            <span style="font-size:16px;">东方财富证券，是一家全国性的中型综合类证券公司。经过15年的发展，东方财富证券已拥有齐全的证券业务牌照，经营范围涵盖：经纪业务、证券投资基金代销、证券自营、财务顾问、证券投资咨询、证券资产管理、证券承销与保荐、融资融券、代销金融产品、为期货公司提供中间介绍业务、新三板推荐挂牌、交易、做市业务，创新业务也已有所起步，取得了约定购回、质押回购、互联网业务等资格。截至2016年6月，公司在全国20个省、自治区、直辖市共设有44家营业部和5家分公司。</span></p>
                        </div> </div></section>
                    </div>

                </div>
            </div></div><div class="wqdView wqdFooterView">
            <div class="wqdAreaView"></div>
        </div>