<div class="wqdSectiondiv" data-type="wqdSectiondiv" sortid="21" partid="wqd1469451415779serial" commonpartid="10646" id="wqd1469451415779serial" sectionname="导航8" partcategoryid="21" style="background-attachment: scroll;">
    <style type="text/css" class="wqd1469451415779serial" sectionwidth="1200">
        #wqd1469451415779serial:before{content:' ';position:absolute;top:0;left:0;width:100%;height:100%;background-color:#ffffff;}
    </style>
    <style type="text/css" class="elementId1469451415781" sectionwidth="1200">
        #elementId1469451415781 .wqdNavList li a:hover{border-color:#171717;color:#ffffff;background-color:#303030;}#elementId1469451415781 .wqdNavList li.active a{border-color:#171717;color:#ffffff;background-color:#303030;}#elementId1469451415781 .wqdNavList li a{padding-left:28px;padding-right:28px;font-weight:700;}
    </style>
    <header class="wqdTopNavWrap wqdBkEditos sectionV2 elementsContainer wqdCommonNav" wqd-bgcolor="rgba(240,240,240,0.6)" style="position: relative; height: 62px;" wqdheight="62" data-maxzindex="4" sectionwidth="1200" wqdnavstickyed="on" bac_position="1" wqdbgattachment="0" wqdwidthlimit="0" wqdbgcolor="#ffffff">
        <div class="wqdelementEdit elementsContainer wqdTopNavbox" wqd-textcolor="#333" wqd-texthovercolor="#ffffff" wqdpaddingx="28" wqdpaddingy="10" wqdfontsize="14" data-elementtype="firstNav" data-unused="set,copy" data-elemandgroup="true" style="width: 638px; height: 42px; left: 485px; top: 10.5px; z-index: 1;" elementid="elementId1469451415781" id="elementId1469451415781" data-zindex="1" wqd-borhovercolor="#171717" wqd-menuhovercolor="#303030" wqdfontweight="on">
            <div class="wqdelementEditBox">
                <nav class="wqdNavWrap">
                    <ul class="wqdNavList">
                        <li class="wqdNavLi">
                            <a href="javascript:void(0);">
                                首页
                            </a>
                        </li>
                        <li class="wqdNavLi" wqdnavmark="mark1450685761476">
                            <a href="javascript:void(0);">
                                产品功能
                            </a>
                        </li>
                        <li class="wqdNavLi" wqdnavmark="mark1450685762719">
                            <a href="javascript:void(0);">
                                产品优势
                            </a>
                        </li>
                        <li class="wqdNavLi">
                            <a href="javascript:void(0);">
                                关于我们
                            </a>
                        </li>
                        <li class="wqdNavLi">
                            <a href="javascript:void(0);">
                                联系我们
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="wqdelementEdit" data-elementtype="img" data-elemandgroup="true" style="width: 127px; height: 62px; left: 226px; top: 0px; z-index: 4;" elementid="elementId1469451415782" id="elementId1469451415782" data-zindex="4">
            <div class="wqdelementEditBox">
                <img class="wqd-img" src="http://img.wqdian.com/group2/M00/BA/F2/yq0KXlZ3u3eALZv4AAAD_7RJnms287.png" ondragstart="return false;">
            </div>
        </div>
    </header>
</div>