<div class="wqdSectiondiv" id="wqd1448355278027serial" style="background-attachment: scroll; background-color: rgb(83, 83, 83);" partid="wqd1448355278027serial" data-type="wqdSectiondiv" sortid="11" commonpartid="10542" sectionname="空白栏目-PC/手机均可" partcategoryid="2"><section class="wqd1445504393013css wqdBkEditos sectionV2 moveMainArea elementsContainer" style="height: 275px; margin: 0px auto; position: relative;" wqdheight="275" data-maxzindex="14" sectionwidth="1200" wqdimgurlos="http" wqdbgcoloros="#eee" bac_position="1" wqdbgattachment="0" wqdbgcolor="#535353"><div class="wqdelementEdit" id="groupId1448356476787" style="width: 93px; height: 30px; left: 553.5px; top: 26.0667px; z-index: 1;" data-elementtype="text" data-elemandgroup="true" elementid="groupId1448356476787" data-zindex="1">
    <div class="wqdelementEditBox" style="visibility: visible;" data-emptytexttemplate="title4"><h4 class="wqd-text-title4" style="text-align: center;"><strong><font color="#a9a9a9">案例</font></strong></h4>
    </div>
</div><div class="wqdelementEdit" id="groupId1448356720773" style="width: 79px; height: 26px; left: 572.5px; top: 78.0833px; z-index: 2;" data-elementtype="text" data-elemandgroup="true" elementid="groupId1448356720773" data-zindex="2">
    <div class="wqdelementEditBox" style="visibility: visible;" data-emptytexttemplate="
        <p class=&quot;wqd-text-article3 wqdCkEmptyTextos&quot;>正文文本3</p>
       "><p class="wqd-text-article3"><span style="color:#A9A9A9;">行业案例</span></p>
    </div>
</div><div class="wqdelementEdit" id="groupId1448356826228" style="width: 84px; height: 26px; left: 572.5px; top: 112.8px; z-index: 3;" data-elementtype="text" data-elemandgroup="true" elementid="groupId1448356826228" data-zindex="3">
    <div class="wqdelementEditBox" style="visibility: visible;" data-emptytexttemplate="
        <p class=&quot;wqd-text-article3 wqdCkEmptyTextos&quot;>正文文本3</p>
       "><p class="wqd-text-article3"><span style="color:#A9A9A9;">专题用例</span></p>
    </div>
</div><div class="wqdelementEdit" id="groupId1448356486053" style="width: 93px; height: 30px; left: 740px; top: 29.0667px; z-index: 4;" data-elementtype="text" data-elemandgroup="true" elementid="groupId1448356486053" data-zindex="4">
    <div class="wqdelementEditBox" style="visibility: visible;" data-emptytexttemplate="title4"><h4 class="wqd-text-title4" style="text-align: center;"><strong><font color="#a9a9a9">开发者</font></strong></h4>
    </div>
</div><div class="wqdelementEdit" id="groupId1448356727172" style="width: 232px; height: 26px; left: 755px; top: 78.0834px; z-index: 5;" data-elementtype="text" data-elemandgroup="true" elementid="groupId1448356727172" data-zindex="5">
    <div class="wqdelementEditBox" style="visibility: visible;" data-emptytexttemplate="
        <p class=&quot;wqd-text-article3 wqdCkEmptyTextos&quot;>正文文本3</p>
       "><p class="wqd-text-article3"><span style="color:#A9A9A9;">开源项目</span></p>
    </div>
</div><div class="wqdelementEdit" id="groupId1448356835213" style="width: 232px; height: 26px; left: 754px; top: 110.433px; z-index: 6;" data-elementtype="text" data-elemandgroup="true" elementid="groupId1448356835213" data-zindex="6">
    <div class="wqdelementEditBox" style="visibility: visible;" data-emptytexttemplate="
        <p class=&quot;wqd-text-article3 wqdCkEmptyTextos&quot;>正文文本3</p>
       "><p class="wqd-text-article3"><span style="color:#A9A9A9;">开放平台</span></p>
    </div>
</div><div class="wqdelementEdit" id="groupId1448356839788" style="width: 232px; height: 26px; left: 754px; top: 142.784px; z-index: 7;" data-elementtype="text" data-elemandgroup="true" elementid="groupId1448356839788" data-zindex="7">
    <div class="wqdelementEditBox" style="visibility: visible;" data-emptytexttemplate="
        <p class=&quot;wqd-text-article3 wqdCkEmptyTextos&quot;>正文文本3</p>
       "><p class="wqd-text-article3"><span style="color:#A9A9A9;">创作随笔</span></p>
    </div>
</div><div class="wqdelementEdit" id="groupId1448356490908" style="width: 93px; height: 30px; left: 959px; top: 29.0667px; z-index: 8;" data-elementtype="text" data-elemandgroup="true" elementid="groupId1448356490908" data-zindex="8">
    <div class="wqdelementEditBox" style="visibility: visible;" data-emptytexttemplate="title4"><h4 class="wqd-text-title4" style="text-align: center;"><strong><font color="#a9a9a9">联系方式</font></strong></h4>
    </div>
</div><div class="wqdelementEdit" id="groupId1448356740684" style="width: 232px; height: 26px; left: 966px; top: 76.4667px; z-index: 9;" data-elementtype="text" data-elemandgroup="true" elementid="groupId1448356740684" data-zindex="9">
    <div class="wqdelementEditBox" style="visibility: visible;" data-emptytexttemplate="article3"><p class="wqd-text-article3"><span style="color:#A9A9A9;">+86 400-666-8888</span></p>
    </div>
</div><div class="wqdelementEdit" id="groupId1448356851452" style="width: 232px; height: 26px; left: 966px; top: 108.817px; z-index: 10;" data-elementtype="text" data-elemandgroup="true" elementid="groupId1448356851452" data-zindex="10">
    <div class="wqdelementEditBox" style="visibility: visible;" data-emptytexttemplate="
        <p class=&quot;wqd-text-article3 wqdCkEmptyTextos&quot;>正文文本3</p>
       "><p class="wqd-text-article3"><span style="color:#A9A9A9;">周一至周五 8:00 ~ 20:00</span></p>
    </div>
</div><div class="wqdelementEdit" id="groupId1448356856084" style="width: 232px; height: 26px; left: 967px; top: 141.167px; z-index: 11;" data-elementtype="text" data-elemandgroup="true" elementid="groupId1448356856084" data-zindex="11">
    <div class="wqdelementEditBox" style="visibility: visible;" data-emptytexttemplate="
        <p class=&quot;wqd-text-article3 wqdCkEmptyTextos&quot;>正文文本3</p>
       "><p class="wqd-text-article3"><span style="color:#A9A9A9;">support@wqdian.com</span></p>
    </div>
</div><div class="wqdelementEdit" id="groupId1448356861419" style="width: 232px; height: 26px; left: 966px; top: 171.067px; z-index: 12;" data-elementtype="text" data-elemandgroup="true" elementid="groupId1448356861419" data-zindex="12">
    <div class="wqdelementEditBox" style="visibility: visible;" data-emptytexttemplate="
        <p class=&quot;wqd-text-article3 wqdCkEmptyTextos&quot;>正文文本3</p>
       "><p class="wqd-text-article3"><span style="color:#A9A9A9;">联系我们</span></p>
    </div>
</div><div class="wqdelementEdit wqdGroup elementsContainer" id="groupId1458610564927" style="height: 177px; width: 195px; left: 323px; top: 24.5667px; z-index: 13;" data-maxzindex="0" data-elemandgroup="true" data-zindex="13" data-groupstatus="off" groupid="groupId1458610564927"><div class="wqdelementEditBox"><div class="wqdelementEdit" id="groupId1448356472541" style="width: 93px; height: 36px; left: 0px; top: 0px; z-index: 9;" data-elementtype="text" data-elemandgroup="true" elementid="groupId1448356472541" data-zindex="9">
    <div class="wqdelementEditBox" style="visibility: visible;" data-emptytexttemplate="title4"><h4 class="wqd-text-title4" style="text-align: center;"><strong><font color="#a9a9a9">公司</font></strong></h4>
    </div>
</div><div class="wqdelementEdit" id="groupId1448356714092" style="width: 232px; height: 26px; left: 29px; top: 54.3833px; z-index: 10;" data-elementtype="text" data-elemandgroup="true" elementid="groupId1448356714092" data-zindex="10">
    <div class="wqdelementEditBox" style="visibility: visible;" data-emptytexttemplate="
        <p class=&quot;wqd-text-article3 wqdCkEmptyTextos&quot;>正文文本3</p>
       "><p class="wqd-text-article3"><span style="color:#A9A9A9;">新闻与活动</span></p>
    </div>
</div><div class="wqdelementEdit" id="groupId1448356808948" style="width: 232px; height: 26px; left: 29px; top: 151px; z-index: 13;" data-elementtype="text" data-elemandgroup="true" elementid="groupId1448356808948" data-zindex="13">
    <div class="wqdelementEditBox" style="visibility: visible;" data-emptytexttemplate="
        <p class=&quot;wqd-text-article3 wqdCkEmptyTextos&quot;>正文文本3</p>
       "><p class="wqd-text-article3"><span style="color:#A9A9A9;">媒体报道</span></p>
    </div>
</div><div class="wqdelementEdit" id="groupId1448356804324" style="width: 232px; height: 26px; left: 29px; top: 119.083px; z-index: 12;" data-elementtype="text" data-elemandgroup="true" elementid="groupId1448356804324" data-zindex="12">
    <div class="wqdelementEditBox" style="visibility: visible;" data-emptytexttemplate="
        <p class=&quot;wqd-text-article3 wqdCkEmptyTextos&quot;>正文文本3</p>
       "><p class="wqd-text-article3"><span style="color:#A9A9A9;">加入我们</span></p>
    </div>
</div><div class="wqdelementEdit" id="groupId1448356799870" style="width: 232px; height: 26px; left: 30px; top: 86.7333px; z-index: 11;" data-elementtype="text" data-elemandgroup="true" elementid="groupId1448356799870" data-zindex="11">
    <div class="wqdelementEditBox" style="visibility: visible;" data-emptytexttemplate="
        <p class=&quot;wqd-text-article3 wqdCkEmptyTextos&quot;>正文文本3</p>
       "><p class="wqd-text-article3"><span style="color:#A9A9A9;">团队成员</span></p>
    </div>
</div></div></div><div class="wqdelementEdit wqdGroup elementsContainer" id="groupId1458610573750" style="height: 174px; width: 179px; left: 103px; top: 24.5667px; z-index: 14;" data-maxzindex="0" data-elemandgroup="true" data-zindex="14" data-groupstatus="off" groupid="groupId1458610573750"><div class="wqdelementEditBox"><div class="wqdelementEdit" id="elementId1448356418593" style="width: 93px; height: 30px; left: 0px; top: 0px; z-index: 1;" data-elementtype="text" data-elemandgroup="true" elementid="elementId1448356418593" data-zindex="1">
    <div class="wqdelementEditBox" style="visibility: visible;" data-emptytexttemplate="title4"><h4 class="wqd-text-title4"><strong><span style="color:#A9A9A9;">产品</span></strong></h4>
    </div>
</div><div class="wqdelementEdit" id="groupId1448356693901" style="width: 232px; height: 20px; left: 0px; top: 153.75px; z-index: 5;" data-elementtype="text" data-elemandgroup="true" elementid="groupId1448356693901" data-zindex="5">
    <div class="wqdelementEditBox" style="visibility: visible;" data-emptytexttemplate="
        <p class=&quot;wqd-text-article3 wqdCkEmptyTextos&quot;>正文文本3</p>
       "><p class="wqd-text-article3"><span style="color:#A9A9A9;">帮助中心</span></p>
    </div>
</div><div class="wqdelementEdit" id="groupId1448356689580" style="width: 232px; height: 26px; left: 0px; top: 118.883px; z-index: 4;" data-elementtype="text" data-elemandgroup="true" elementid="groupId1448356689580" data-zindex="4">
    <div class="wqdelementEditBox" style="visibility: visible;" data-emptytexttemplate="
        <p class=&quot;wqd-text-article3 wqdCkEmptyTextos&quot;>正文文本3</p>
       "><p class="wqd-text-article3"><span style="color:#A9A9A9;">企业版</span></p>
    </div>
</div><div class="wqdelementEdit" id="groupId1448356678621" style="width: 232px; height: 26px; left: 0px; top: 86.5163px; z-index: 3;" data-elementtype="text" data-elemandgroup="true" elementid="groupId1448356678621" data-zindex="3">
    <div class="wqdelementEditBox" style="visibility: visible;" data-emptytexttemplate="
        <p class=&quot;wqd-text-article3 wqdCkEmptyTextos&quot;>正文文本3</p>
       "><p class="wqd-text-article3"><span style="color:#A9A9A9;">客户端</span></p>
    </div>
</div><div class="wqdelementEdit" id="elementId1448356615705" style="width: 232px; height: 26px; left: 0px; top: 53.1833px; z-index: 2;" data-elementtype="text" data-elemandgroup="true" elementid="elementId1448356615705" data-zindex="2">
    <div class="wqdelementEditBox" style="visibility: visible;" data-emptytexttemplate="
        <p class=&quot;wqd-text-article3 wqdCkEmptyTextos&quot;>正文文本3</p>
       "><p class="wqd-text-article3"><span style="color:#A9A9A9;">产品概览</span></p>
    </div>
</div></div></div></section></div>