<div class="wqdView">
<div class="wqdAreaView">

        <div class="yzmoveContent">
            <div class="wqdSectiondiv" data-type="wqdSectiondiv" sortid="2" partid="wqd1469623429654serial" commonpartid="10542" id="wqd1469623429654serial" sectionname="banner" partcategoryid="2" style="background-attachment: scroll; background-size: cover; background-position: center center; background-repeat: no-repeat;">
                <style type="text/css" class="wqd1469623429654serial">#wqd1469623429654serial:before {
                    content: ' ';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #ce231c;
                }</style>
                <section class="wqd1445504393013css wqdBkEditos sectionV2 moveMainArea elementsContainer" style="height: 348px; margin: 0px auto; position: relative;" wqdimgurlos="http://127.0.0.1:8360/static/upload/group/01/yq0KYVcy8GqAcOg6ABmFTHAj6MY000.png" wqdbgcoloros="#eee" data-maxzindex="1" sectionwidth="1200" wqdheight="348" bac_position="5" wqdbgattachment="0" wqdwidthlimit="0" wqdbgcolor="#ce231c" wqdeditidos="1">
                    <div class="wqdelementEdit" data-elementtype="img" data-elemandgroup="true" style="width: 1201px; height: 348px; left: 1px; top: 0px; z-index: 1;" elementid="elementId1469623429656" id="elementId1469623429656" data-zindex="1">
                        <div class="wqdelementEditBox"><img class="wqd-img" src="http://127.0.0.1:8360/static/upload/group/01/yq0KYVcy8GqAcOg6ABmFTHAj6MY000.png" ondragstart="return false;"></div>
                    </div>
                </section>
            </div>
            <div class="sectionDragCtrl"></div>
        </div>

    </div>
</div>