@charset "utf-8";
/*手机站发布后非手机访问的样式：黄剑剑*/
@media (min-width:768px) {
  .wqdPhoneContainer{background: url(../images/bg.jpg) repeat center center;}
  .wqdPhoneContainer .wqdIphoneView{width: 320px;margin:0 auto;background-color: #fff;}
  .wqdPhoneContainer .footerFixed{width:320px;margin: 0 auto;}
}
.wqdelementEdit[data-elementtype="text"] {border:none;/*padding-left: 1px;*/}
/*发布后需要先隐藏的样式*/
.wqdPublisHidden{display: none !important;}


/*发布后----客服防止被挡住*/
#wqdShowQQD {position: fixed;z-index: 99;}
/*发布后表单选、复选框的鼠标手势*/
.wqdControlForm .formRadio, .wqdControlForm .formCheckbox{cursor: pointer;}
.wqdControlForm .formRadio label, .wqdControlForm .formCheckbox label{cursor: pointer;}
/*发布后表单ios滚动条兼容*/
.wqdIphoneView .wqdFormIframeWarp{overflow: scroll;-webkit-overflow-scrolling: touch;}
/*发布后关联容器的鼠标手势及动画效果*/
.groupContainerOne, .freeContainerOne{cursor: pointer;}
/*二级容器出现动画 */
.groupContainerTwo[wqdfadein="fadeinLeft"] .containerWarp, .freeContainerTwo[wqdfadein="fadeinLeft"] .containerWarp{
	-webkit-animation: wqdfadeInLeft 0.5s;
	-moz-animation: wqdfadeInLeft 0.5s;
	animation: wqdfadeInLeft 0.5s;

}
.wqdelementEdit.articleLists {
  display: none;
}
.wqdelementEdit.articleLists.artlShow {
  display: block !important;
}

/*动画*/
.aniHide {
    /*visibility: hidden;*/
    opacity: 0;
}

.fullscreen [data-elementtype='carouse']{
    opacity: 0;
    width: 100%;
    height: 100%!important;
    left: 50% !important;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

@-webkit-keyframes wqdfadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
  }
}

@-moz-keyframes wqdfadeInLeft {
  from {
    opacity: 0;
    -moz-transform: translate3d(-50%, 0, 0);
  }

  to {
    opacity: 1;
    -moz-transform: none;
  }
}

@keyframes wqdfadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
.groupContainerTwo[wqdfadein="fadeinRight"] .containerWarp, .freeContainerTwo[wqdfadein="fadeinRight"] .containerWarp{
	-webkit-animation: wqdfadeinRight 0.5s;
	-moz-animation: wqdfadeinRight 0.5s;
	animation: wqdfadeinRight 0.5s;

}
@-webkit-keyframes wqdfadeinRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
  }
}

@-moz-keyframes wqdfadeinRight {
  from {
    opacity: 0;
    -moz-transform: translate3d(50%, 0, 0);
  }

  to {
    opacity: 1;
    -moz-transform: none;
  }
}

@keyframes wqdfadeinRight {
  from {
    opacity: 0;
    transform: translate3d(50%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
.groupContainerTwo[wqdfadein="fadeinTop"] .containerWarp, .freeContainerTwo[wqdfadein="fadeinTop"] .containerWarp{
	-webkit-animation: wqdfadeinTop 0.5s;
	-moz-animation: wqdfadeinTop 0.5s;
	animation: wqdfadeinTop 0.5s;

}
@-webkit-keyframes wqdfadeinTop {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
  }
}

@-moz-keyframes wqdfadeinTop {
  from {
    opacity: 0;
    -moz-transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 1;
    -moz-transform: none;
  }
}

@keyframes wqdfadeinTop {
  from {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
.groupContainerTwo[wqdfadein="fadeinBottom"] .containerWarp, .freeContainerTwo[wqdfadein="fadeinBottom"] .containerWarp{
	-webkit-animation: wqdfadeinBottom 0.5s;
	-moz-animation: wqdfadeinBottom 0.5s;
	animation: wqdfadeinBottom 0.5s;

}
@-webkit-keyframes wqdfadeinBottom {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
  }
}

@-moz-keyframes wqdfadeinBottom {
  from {
    opacity: 0;
    -moz-transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    -moz-transform: none;
  }
}

@keyframes wqdfadeinBottom {
  from {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
.groupContainerTwo[wqdfadein="zoomIn"] .containerWarp, .freeContainerTwo[wqdfadein="zoomIn"] .containerWarp{
	-webkit-animation: wqdzoomIn 0.5s;
	-moz-animation: wqdzoomIn 0.5s;
	animation: wqdzoomIn 0.5s;

}
@-webkit-keyframes wqdzoomIn {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: none;
  }
}

@-moz-keyframes wqdzoomIn {
  from {
    -moz-transform: scale(0);
  }

  to {
    -moz-transform: none;
  }
}

@keyframes wqdzoomIn {
  from {
    transform: scale(0);
  }

  to {
    transform: none;
  }
}
/* 模式一：二级容器消失动画 */
.groupContainerTwo.wqdfadeoutLeft .containerWarp{
	-webkit-animation: wqdfadeoutLeft 0.5s both;
	-moz-animation: wqdfadeoutLeft 0.5s both;
	animation: wqdfadeoutLeft 0.5s both;
}
@-webkit-keyframes wqdfadeoutLeft {
  from {
    opacity: 1;
    -webkit-transform: none;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
  }
}

@-moz-keyframes wqdfadeoutLeft {
  from {
    opacity: 1;
    -moz-transform: none;
  }

  to {
    opacity: 0;
    -moz-transform: translate3d(-50%, 0, 0);
  }
}

@keyframes wqdfadeoutLeft {
  from {
    opacity: 1;
    transform: none;
  }

  to {
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
  }
}
.groupContainerTwo.wqdfadeoutRight .containerWarp{
	-webkit-animation: wqdfadeoutRight 0.5s both;
	-moz-animation: wqdfadeoutRight 0.5s both;
	animation: wqdfadeoutRight 0.5s both;
}
@-webkit-keyframes wqdfadeoutRight {
  from {
    opacity: 1;
    -webkit-transform: none;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 0);
  }
}

@-moz-keyframes wqdfadeoutRight {
  from {
    opacity: 1;
    -moz-transform: none;
  }

  to {
    opacity: 0;
    -moz-transform: translate3d(50%, 0, 0);
  }
}

@keyframes wqdfadeoutRight {
  from {
    opacity: 1;
    transform: none;
  }

  to {
    opacity: 0;
    transform: translate3d(50%, 0, 0);
  }
}
.groupContainerTwo.wqdfadeoutTop .containerWarp{
	-webkit-animation: wqdfadeoutTop 0.5s both;
	-moz-animation: wqdfadeoutTop 0.5s both;
	animation: wqdfadeoutTop 0.5s both;
}
@-webkit-keyframes wqdfadeoutTop {
  from {
    opacity: 1;
    -webkit-transform: none;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
  }
}

@-moz-keyframes wqdfadeoutTop {
  from {
    opacity: 1;
    -moz-transform: none;
  }

  to {
    opacity: 0;
    -moz-transform: translate3d(0, -50%, 0);
  }
}

@keyframes wqdfadeoutTop {
  from {
    opacity: 1;
    transform: none;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
}
.groupContainerTwo.wqdfadeoutBottom .containerWarp{
	-webkit-animation: wqdfadeoutBottom 0.5s both;
	-moz-animation: wqdfadeoutBottom 0.5s both;
	animation: wqdfadeoutBottom 0.5s both;
}
@-webkit-keyframes wqdfadeoutBottom {
  from {
    opacity: 1;
    -webkit-transform: none;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
  }
}

@-moz-keyframes wqdfadeoutBottom {
  from {
    opacity: 1;
    -moz-transform: none;
  }

  to {
    opacity: 0;
    -moz-transform: translate3d(0, 50%, 0);
  }
}

@keyframes wqdfadeoutBottom {
  from {
    opacity: 1;
    transform: none;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }
}
.groupContainerTwo.wqdzoomOut .containerWarp{
	-webkit-animation: wqdzoomOut 0.5s both;
	-moz-animation: wqdzoomOut 0.5s both;
	animation: wqdzoomOut 0.5s both;

}
@-webkit-keyframes wqdzoomOut {
  from {
    -webkit-transform: none;
  }

  to {
  	-webkit-transform: scale(0);

  }
}

@-moz-keyframes wqdzoomOut {
  from {
    -moz-transform: none;
  }

  to {
    -moz-transform: scale(0);
  }
}

@keyframes wqdzoomOut {
  from {
    transform: none;
  }

  to {
    transform: scale(0);
  }
}

/*发布后文章的隐藏*/
.artDetlHide {display: none;}
.artDetlImg.artDetlHide {
  display: block;
  height: 0;
}

.wqdCenterView .yzmoveContent {
    overflow: hidden;
    position: relative;
}
.wqdSectiondiv.wqdSticky{position: fixed!important;top: 0;left: 0;right: 0;z-index: 998;-webkit-transform: translateZ(0);animation:wqdNavAnima 0.5s ease;-moz-animation:wqdNavAnima 0.5s ease;-webkit-animation:wqdNavAnima 0.5s ease;-o-animation:wqdNavAnima 0.5s ease;}

/*手机新闻列表滑动动画*/
.wqdSlideNext{
  -webkit-animation: wqdSlideNext 0.5s;
  animation: wqdSlideNext 0.5s;
}

@-webkit-keyframes wqdSlideNext {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: none;
  }
}

@keyframes wqdSlideNext {
  from {
    transform: translate3d(100%, 0, 0);
  }

  to {
    transform: none;
  }
}

.wqdSlidePrev{
  -webkit-animation: wqdSlidePrev 0.5s;
  animation: wqdSlidePrev 0.5s;
}

@-webkit-keyframes wqdSlidePrev {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
  }
  to {
    -webkit-transform: none;
  }
}

@keyframes wqdSlidePrev {
  from {
    transform: translate3d(-100%, 0, 0);
  }

  to {
    transform: none;
  }
}

/*网站底部版权标签*/
.footerFixed{width:100%;padding: 9px 10px;background: #000;min-height: 40px !important;line-height: 18px !important;font-size: 12px !important;color: #666;text-align: center !important;font-family:"微软雅黑";}
.footerFixed a.tex-con{
    display:inline-block;
    color: #fff;
    text-decoration: none;
}
.footerFixed.ff-pc {
    position: fixed;
    bottom: 0;
    font-size: 14px;
    height: 60px;
    line-height: 40px !important;
    z-index: 1000000;
}
.footerFixed span.wqd{color: #fff !important;font-size: 14px !important;cursor: pointer;}
/* .footerFixed span{ color: #fff !important; font-size: 14px !important;} */
.footerFixed  .white span{color: #000!important}
.footerFixed .footerFixed-btn {
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 26px;
    vertical-align: middle;
    font-size: 12px;
    text-align: center;
    width: 100px;
    line-height: 30px;
    border: 1px solid #fff;
    border-radius: 30px;
    padding-left: 5px;
    padding-right: 5px;
}
.footerFixed-logo {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(/images/copyright/copyright_logo.png)no-repeat;
    background-size: 40px 40px;
}
.footerFixed.white .footerFixed-logo{
    width: 40px;
    height: 40px;
    background: url(/images/copyright/copyright_logo2.png)no-repeat;
    background-size: 40px 40px;
}
.footerFixed-text {
    display:inherit;
    line-height: 40px;
    font-size: 14px;
    margin-bottom: 26px;
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 400;
}
.footerFixed .copyrightClose{
    background: url(/images/copyright/copyright_close.png) no-repeat -22px 9px;
    height: 30px;
    width: 32px;
    margin-top: 4px;
    float: right;
}
.footerFixed.white .copyrightClose{
  background: url(/images/copyright/copyright_close.png) no-repeat 0 9px;
    height: 30px;
    width: 32px;
    margin-top: 4px;
    float: right;
}
.footerFixed.black{background: rgba(51,51,51,0.75) !important;}
.footerFixed.black span.footerFixed-btn:hover{
  background: #58C5FF;
  border:1px solid  #58C5FF;
  color: #fff;
}
.footerFixed.black a{color: #fcfcfc !important;}
.footerFixed.black a span.wqd{color: #57c3ff !important;}
.footerFixed.plum{background: rgba(141,145,255,0.9) !important;}
.footerFixed.plum span.footerFixed-btn:hover{
  background: #fff;
  color: #8D91FF;
}
.footerFixed.white{background: rgba(255,255,255,0.9)!important;border: 1px solid #ccc;}
.footerFixed.white span.footerFixed-btn:hover{
   background: #58C5FF;
  color: #fff!important;
}
.footerFixed.white span.footerFixed-btn{color: #5ac4ff!important;border:1px solid #5ac4ff; }
.footerFixed.white a{color: #333 !important;}
.footerFixed.white a span.wqd{color: #3399ff !important;}
// .footerFixed a span.wqd{
//     color: #fff !important;
// }
.footerFixed.pink{background: rgba(254,134,166,0.9)!important;}
.footerFixed.pink span.footerFixed-btn:hover{
  background: #fff;
  color: #FF87A7;
}
.footerFixed.blue{background: rgba(102,208,250,0.9)!important;}
.footerFixed.blue span.footerFixed-btn:hover{
  background: #fff;
  color: #66D1FB;
}
.footerFixed.palevioletred{background: rgba(153,102,255,0.9)!important;}
.footerFixed.palevioletred span.footerFixed-btn:hover{
  background: #fff;
  color: #9966FF;
}
.footerFixed.green{background: rgba(1,175,99,0.9)!important;}
.footerFixed.green span.footerFixed-btn:hover{
  background: #fff;
  color: #00AF62;
}
.footerFixed.redob{background: rgba(255,102,102,0.9)!important;}
.footerFixed.redob span.footerFixed-btn:hover{
background: #fff;
color: #FF6666;
}
.footerFixed.orange{background: rgba(245,167,37,0.9)!important;color: #fcfcfc !important;}
.footerFixed.orange span.footerFixed-btn:hover{
 background: #fff;
 color: #F5A724;
}
.footerFixed.darkblue{background: rgba(46,89,131,0.9) !important;}
.footerFixed.darkblue span.footerFixed-btn:hover{
  background: #fff;
  color: #2E5883;
}
.footerFixed.aliceblue{background: rgba(140,174,182,0.9)!important;color: #fcfcfc !important;}
.footerFixed.aliceblue span.footerFixed-btn:hover{
  background: #fff;
  color: #8DAFB7;
}
.footerFixed.greenyellow{background: rgba(102,204,0,0.9)!important;}
.footerFixed.greenyellow span.footerFixed-btn:hover{
  background: #fff;
  color: #66CD00;
}
/*数字进度条样式*/
#wqdProgressbarD ul li.wqdPronumberbarD{
    float: left;
    width:110px;
    height:60px;
    text-align:center;
    margin-left: 20px
}
.wqd_autowidth{
    width: auto!important;
}
.wqdelementEditBox .wqd_progress{
    margin:0 auto;
    height:100%;
    font-size:55px;
}
.wqdelementEditBox .wqd_progress em{
    display:block;
    margin-top: -17px;
}
#wqdProgressbarD .wqdprop{
    width: auto !important;
}
.numberprogressleft{
    display:block; width:100%;height:100%;
}
.wqdelementEditBox .wqd_progress1{
    margin:0 auto;
    height:100%;
    font-size: 41px;
    text-indent:15px
}
.wqdelementEditBox .wqd_progress1 em{
    display:block;
    font-family: Arial;
    font-size: 41px;
     color: #2dbce6;
      margin-top: -12px;
}
/*进度条*/
.pro-start,.pro-end{
  display: none;
}
/*进度圆*/
.pro-svg{
  width: 100%;
  height: 100%;
  overflow: visible !important;
  position: absolute;
  top: 0;
  left: 0;
}
.circal-start,.circal-end{
  display: none;
}
.wqd-cercalc{
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 82px;
  height: 82px;
  border-radius: 50%;
}


/*悬浮容器*/
.hc-fixed.hc-show-notfirst,
.hc-fixed.hc-show-bottom {
  display: none;
}
[data-link-href] {
  cursor: pointer;
}
/*.extendNav-A .wqd-mainnavli .wqd-mainnava{*/
  /*width: 100% !important;*/
  /*padding: 0 10px !important;*/
  /*min-width: 100% !important;*/
/*}*/