/*pc 、 host 中均使用此样式表
    基本样式*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; word-break: normal; }
address, cite, dfn, em, var { font-style: normal; }
code, kbd, pre, samp { font-family: courier new, courier, monospace; }
h1, h2, h3, h4, h5, h6, p, a, span { text-transform: none !important; word-wrap: break-word; word-break: break-all; }
small { font-size: 12px; }
ul, ol { list-style: none outside none; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
legend { color: #000000; }
fieldset, img { border: 0 none; }
button, input, select, textarea { font-size: 100%; }
table { border-collapse: collapse; border-spacing: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { display: block; margin: 0; padding: 0; }
mark { background: none repeat scroll 0 0 #FFFF00; }
body { font-family: "微软雅黑", Verdana, Arial, Helvetica, sans-serif; }
img { border: medium none; }
body a { text-decoration: none; }
a:acitve { color: inherit; }
a:link, a:visited, a:hover, a:active, a:focus { outline: none; text-decoration: none; }
h1 em, h2 em, h3 em, h4 em, h5 em, h6 em, p em { font-style: italic; }
s, b { font-weight: normal; text-decoration: none; }
input:focus, input:active, button:active, button:visited, button { outline: none; }
::-ms-clear, ::-ms-reveal { display: none; }

.wqdtableTouchos {
    overflow-x: auto;
    zoom: 1;
}

#HTMLDATA .wqdtableTouchos {
    overflow: hidden;
    zoom: 1;
}


/*屏幕宽度设置*/

.wqdAreaView .wqdBkEditos {
    margin: 0 auto;
    width: 1200px;
}

.wqdAreaView footer.wqdBkEditos {
    overflow: hidden;
}

.wqdAreaView .wqdSectiondiv {
    min-width: 1200px;
}


/*通条隐藏*/

#HTMLDATACENTER .yzmoveContent, .wqd-carouseOverlay {
    overflow: hidden;
}

.sectionCenter.yzmoveContent {
    overflow: hidden !important;
}

.wqdSectiondiv section.overShow {
    overflow: visible;
}


/*通条满屏*/
.fullscreen [data-elementtype='carouse'] {
    width: 100%;
    height: 100%!important;
}

/*新版带有fullMode类的轮播居中对齐*/
.fullscreen .fullMode {
    left: 50% !important;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

section.sectionV2 {
    position: relative;
    margin: 0 auto;
}

#wqdIphonePage .fullscreen {
    width: 320px !important;
}

.wqdIphoneView .fullscreen .bannerContainer {
    width: 100%!important;
}

.fullscreen_item {
    width: 100%;
    background-size: cover;
}

.wqdCarousel .carousel-inner .item {
    background-size: cover;
}


/*元素组*/

#HTMLDATA .onDraging .wqdGroup:before, #HTMLDATA .onGrouping:before, .wqd-carouseOverlay .onGrouping:before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid #60c1ff!important;
}

#HTMLDATA .onDraging .wqdelementEdit .wqdGroup:before {
    display: none;
}

.wqdGroup {
    position: absolute;
}

#HTMLDATA .wqdGroupmove:before, .wqd-carouseOverlay .wqdGroupmove:before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid #60c1ff!important;
}


/* 内容区域宽度 */

.wqdAppFromos .radio, .wqdAppFromos .checkbox {
    display: inline-block;
    padding-right: 25px;
}

textarea.form-control {
    min-height: 200px;
}

.wqdfromemptyos {
    background: none!important;
    border: 0!important;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -ms-box-shadow: none!important;
    -moz-box-shadow: none!important;
}

.wqdfromemptyos:hover {
    border: 0!important;
}

@media (max-width: 991px) {
    .wqdfromemptyos {
        display: none;
    }
}

#HTMLDATA {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


/* 按钮蒙板 黄剑剑*/

.wqdversionos {
    display: none;
}

#HTMLDATA .wqdversionos {
    display: block;
}

.wqdBtnMask {
    position: relative;
    visibility: hidden;
}

.wqdBtnMask:before {
    content: "显示按钮";
    position: absolute;
    top: -2px;
    left: -1px;
    bottom: -2px;
    right: -1px;
    background: rgba(0, 0, 0, 0.2);
    border: 1px dotted #9c9c9c;
    padding: inherit;
}

#HTMLDATA .wqdBtnMask {
    visibility: visible;
    border-color: transparent !important;
    background-color: transparent !important;
}

#HTMLDATA .wqdBtnMask * {
    opacity: 0;
}


/* 文字适配标准 liumingren*/

html {
    font-size: 62.5%;
}

body {
    font-size: 14px;
    font-size: 1.4rem;
}

.wqd-text-title1 {
    font-size: 56px !important;
    font-size: 5.6rem !important;
    line-height: 1.75;
}

.wqd-text-title2 {
    font-size: 46px !important;
    font-size: 4.6rem !important;
    line-height: 1.75;
}

.wqd-text-title3 {
    font-size: 28px !important;
    font-size: 2.8rem !important;
    line-height: 1.75;
}

.wqd-text-title4 {
    font-size: 20px !important;
    font-size: 2rem !important;
    line-height: 1.75;
}

.wqd-text-article1 {
    font-size: 18px !important;
    font-size: 1.8rem !important;
    line-height: 1.75;
}

.wqd-text-article2 {
    font-size: 16px !important;
    font-size: 1.6rem !important;
    line-height: 1.75;
}

.wqd-text-article3 {
    font-size: 14px !important;
    font-size: 1.4rem !important;
    line-height: 1.75;
}

.wqd-text-article4 {
    font-size: 12px !important;
    font-size: 1.2rem !important;
    line-height: 1.75;
}


/*手机设计界面*/

#wqdIphonePage .wqd-text-title1, .wqdPhoneContainer .wqd-text-title1 {
    font-size: 32px !important;
    font-size: 3.2rem !important;
    line-height: 1.75;
}

#wqdIphonePage .wqd-text-title2, .wqdPhoneContainer .wqd-text-title2 {
    font-size: 30px !important;
    font-size: 3rem !important;
    line-height: 1.75;
}

#wqdIphonePage .wqd-text-title3, .wqdPhoneContainer .wqd-text-title3 {
    font-size: 24px !important;
    font-size: 2.4rem !important;
    line-height: 1.75;
}

#wqdIphonePage .wqd-text-title4, .wqdPhoneContainer .wqd-text-title4 {
    font-size: 18px !important;
    font-size: 1.8rem !important;
    line-height: 1.75;
}

#wqdIphonePage .wqd-text-article1, .wqdPhoneContainer .wqd-text-article1 {
    font-size: 16px !important;
    font-size: 1.6rem !important;
    line-height: 1.75;
}

#wqdIphonePage .wqd-text-article2, .wqdPhoneContainer .wqd-text-article2 {
    font-size: 14px !important;
    font-size: 1.4rem !important;
    line-height: 1.75;
}

#wqdIphonePage .wqd-text-article3, .wqdPhoneContainer .wqd-text-article3 {
    font-size: 14px !important;
    font-size: 1.4rem !important;
    line-height: 1.75;
}

#wqdIphonePage .wqd-text-article4, .wqdPhoneContainer .wqd-text-article4 {
    font-size: 12px !important;
    font-size: 1.2rem !important;
    line-height: 1.75;
}

@media (min-width: 320px) and (max-width: 767px) {
    .wqd-text-title1 {
        font-size: 32px !important;
        font-size: 3.2rem !important;
        line-height: 1.75;
    }
    .wqd-text-title2 {
        font-size: 30px !important;
        font-size: 3rem !important;
        line-height: 1.75;
    }
    .wqd-text-title3 {
        font-size: 24px !important;
        font-size: 2.4rem !important;
        line-height: 1.75;
    }
    .wqd-text-title4 {
        font-size: 18px !important;
        font-size: 1.8rem !important;
        line-height: 1.75;
    }
    .wqd-text-article1 {
        font-size: 16px !important;
        font-size: 1.6rem !important;
        line-height: 1.75;
    }
    .wqd-text-article2 {
        font-size: 14px !important;
        font-size: 1.4rem !important;
        line-height: 1.75;
    }
    .wqd-text-article3 {
        font-size: 14px !important;
        font-size: 1.4rem !important;
        line-height: 1.75;
    }
    .wqd-text-article4 {
        font-size: 12px !important;
        font-size: 1.2rem !important;
        line-height: 1.75;
    }
}


/*元素liumingren*/

.wqdelementEdit {
    position: absolute;
    /*-webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;*/
}

.wqdelementEdit .wqdelementEditBox, .wqdelementEdit .wqdelementContent {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

.wqd-form.wqdControlForm [data-elementtype=formSelect]>.wqdelementEditBox, .wqd-form.wqdControlForm [data-elementtype=formDate]>.wqdelementEditBox {
    overflow: visible;
}

.wqdelementEdit[data-elementtype=svg] .wqdelementEditBox {
    text-align: center;
}

.wqdelementEdit svg {
    height: 100%;
    width: 100%;
}

.wqdelementEdit[data-elementtype="text"] em {
    font-style: italic;
}

.wqd-img, .wqd-img img, .wqd-art-img {
    width: 100%;
}
.wqd-img-default {
    height:100%;
}
.wqdelementEdit .wqdImgLinkV2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.wqd-button, a.wqd-button:visited, a.wqd-button:hover, a.wqd-button:focus {
    width: 100%;
    color: #fff;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    height: 100%;
}

.wqd-button > em {
    position: relative;
    top: 50%;
    display: block;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.wqd-icon {
    display: block;
}

.wqd-icon .fa {
    display: block !important;
}

.wqdelementEdit[data-elementtype="img"] .wqdelementEditBox a {
    display: block;
}


/*.wqdGroup {overflow: hidden;}*/


/*隐藏模版标签*/

.FREEMARKER_TEMPLATE_DATA_WQD_END {
    display: none !important;
}

.FREEMARKER_TEMPLATE_CATEGORY_WQD_END {
    display: none !important;
}


/*通条背景蒙版设置：刘军伟*/

.wqdSectiondiv {
    position: relative;
}

.sectionV2 {
    z-index: 5;
}


/*网站底部版权标签*/

.footerFixed {
    width: 100%;
    padding: 9px 10px;
    background: #000 !important;
    min-height: 40px !important;
    line-height: 18px !important;
    font-size: 12px !important;
    color: #666;
    text-align: center !important;
    font-family: "微软雅黑";
}

.footerFixed a.tex-con {
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.footerFixed.ff-pc {
    position: fixed;
    bottom: 0;
    font-size: 14px;
    height: 60px;
    line-height: 40px !important;
    z-index: 1000000;
}

.footerFixed span.wqd {
    color: #fff !important;
    font-size: 14px !important;
}

.footerFixed span {
    color: #fff !important;
    font-size: 14px !important;
}

.footerFixed .footerFixed-btn {
    display: inline-block;
    margin-left: 30px;
    vertical-align: middle;
    font-size: 12px;
    text-align: center;
    width: 100px;
    line-height: 30px;
    border: 1px solid #fff;
    border-radius: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.footerFixed .footerFixed-btn:hover {
    background: #59cfff;
    border: 1px solid rgba(0, 0, 0, 0);
}

.footerFixed-logo {
    width: 40px;
}

.footerFixed-text {
    line-height: 40px;
    font-size: 14px;
    margin-bottom: 0;
    margin-left: 5px;
    vertical-align: middle;
}

.footerFixed .copyrightClose {
    background: url(/images/copyright/copyright_close.png) no-repeat -22px 9px;
    height: 30px;
    width: 32px;
    margin-top: 4px;
    float: right;
    cursor: pointer;
}

.footerFixed.black {
    background: rgba(0, 0, 0, 0.75) !important;
}

.footerFixed.black a {
    color: #fcfcfc !important;
}

.footerFixed.black a span.wqd {
    color: #57c3ff !important;
}

.footerFixed.plum {
    background: #8d91ff !important;
}

.footerFixed.white {
    background: #fff !important;
    border: 1px solid #ccc;
}

.footerFixed.white span {
    color: #333 !important;
}

.footerFixed.white a {
    color: #333 !important;
}

.footerFixed.white a span.wqd {
    color: #3399ff !important;
}


/*// .footerFixed a span.wqd{
//     color: #fff !important;
// }*/

.footerFixed.pink {
    background: #fe96b1 !important;
}

.footerFixed.blue {
    background: #66d0fa !important;
}

.footerFixed.palevioletred {
    background: #9966ff !important;
}

.footerFixed.green {
    background: #01af63 !important;
}

.footerFixed.redob {
    background: #ff6666 !important;
}

.footerFixed.orange {
    background: #ffc86d !important;
    color: #fcfcfc !important;
}

.footerFixed.darkblue {
    background: #2e5983 !important;
}

.footerFixed.aliceblue {
    background: #b1dce6 !important;
    color: #fcfcfc !important;
}

.footerFixed.greenyellow {
    background: #66cc00 !important;
}

.wqdelementEdit.hoverContainer > .wqdelementEditBox {
    border-color:#1ec1fd;
    border-width:1px;
}

/*隐藏V1新闻二维码 yang*/

.catchil.un-category-ewm {
    display: none;
}

/*导航初始化样式*/

.wqdelementEdit.extendNav-A .wqdelementEditBox{
    overflow: visible!important;
}

.clearfix {
    zoom: 1;
}

.clearfix:after, .clearfix:before {
    content: "\200B";
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix:after {
    clear: both;
}



.extendNav-A .wqd-nav {
    width: 100%;
    height: 100%;
}

.extendNav-A .wqd-mainnavul {
    width: 100%;
    height: 100%;
    float: left;
}
.extendNav-A .wqd-mainnavli .wqd-subnavul.nav-show{
    display: block;
}
.extendNav-A .wqd-mainnavli {
    float: left;
    height: 100%;
    border-top: 2px solid transparent;
    position: relative;
    cursor: pointer;
    padding: 18px 0;
}

/*.extendNav-A .wqd-mainnavli:hover {*/
/*border-top: 2px solid #1abc9c;*/
/*}*/
.extendNav-A .wqd-mainnavli .wqd-mainnava {
    display: block;
    min-width: 141px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font-size: 16px;
    color: #8d8d8d;
    border-left: 1px solid #8d8d8d;
    cursor: pointer;
    padding: 0 10px;
    height: 100%;
    line-height: 22px;
}

.extendNav-A .wqd-mainnavli .home-page {
    border-left: none;
}

.extendNav-A .wqd-mainnavli .wqd-subnavul {
    display: none;
    position: absolute;
    top: 58px;
    left: 0;
    background-color: #ffffff;
    padding: 0 10px;
    min-width: 100%;
}

.extendNav-A .wqd-mainnavli .wqd-subnavul .wqd-subnavli{
    height: 40px;
    width: 100%;
    line-height: 40px;
    border-top: 1px solid #ccc;
    text-align: center;
}
.extendNav-A .wqd-mainnavli .wqd-subnavul .wqd-subnavli .wqd-subnava {
    display: inline-block;

    white-space: nowrap;
    text-align: center;
    color: #8d8d8d;
    cursor: pointer;
}

.extendNav-A .wqd-mainnavli .wqd-subnavul .wqd-subnavli.peak {
    border-top: none;
}
.edit_switch  .sub_navlist li{
    width: 50%;
    height: 100%;
    text-align: center;
    border-bottom: 3px solid transparent;
    float: left;
    box-sizing: border-box !important;
}

.full_nav{
    position: absolute !important;
    left: 50% !important;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
}
/*导航初始化样式结束*/